#FROM quay.io/ceph/ceph:v{{ ceph_version }}
# RUN yum install -y vim less
FROM ubuntu:22.04
RUN apt update -y && apt install -y \
      vim \
      less \
      ceph={{ ceph_version }}-0ubuntu0.22.04.1 \
      openssh-server \
      python3
# The Ceph version match with the Ubuntu version postfix cases issues.
# We will be building this container internally and distribute the container soon.
RUN /usr/bin/ssh-keygen -A
{% for filename in ssh_host_keys.files %}
COPY {{ filename.path | basename }} /etc/ssh/{{ filename.path | basename }}
{% endfor %}
ARG CONTAINER_USER
ARG CONTAINER_PASS
RUN useradd -m -s /bin/bash $CONTAINER_USER && echo "$CONTAINER_USER ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/$CONTAINER_USER && chmod 440 /etc/sudoers.d/$CONTAINER_USER && echo "$CONTAINER_USER:$CONTAINER_PASS" | chpasswd
RUN mkdir /run/sshd
