<?xml version="1.0" encoding="UTF-8"?>
<service>
  <short>Ceph Extra</short>
  <description>Additional ports to open on the host for Ceph</description>
  {% for port in ceph_firewall.get('ports', []) %}
	{% if port.get('protocol', '') in ['tcp', 'all'] %}<port protocol="tcp" port="{{ port['port'] }}" />{% endif %}
	{% if port.get('protocol', '') in ['udp', 'all'] %}<port protocol="udp" port="{{ port['port'] }}" />{% endif %}
  {% endfor %}
</service>
