global:
  resolve_timeout: 5m
  {% if ceph_notifications_slack is defined and ceph_notifications_slack %}slack_api_url: '{{ ceph_notifications_slack.api_url }}'{% endif %}

route:
  receiver: 'default'
  routes:
    - group_by: ['alertname']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 1h
      receiver: 'ceph-dashboard'
{% if ceph_notifications_slack is defined and ceph_notifications_slack %}
    - group_by: ['alertname']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 1h
      receiver: 'slack-notifications'
{% endif %}

receivers:
- name: 'default'
  webhook_configs:
{{'{% for url in default_webhook_urls %}'}}
  - url: '{{'{{ url }}'}}'
{{'{% endfor %}'}}
- name: 'ceph-dashboard'
  webhook_configs:
{{'{% for url in dashboard_urls %}'}}
  - url: '{{'{{ url }}'}}/api/prometheus_receiver'
{{'{% endfor %}'}}
{% if ceph_notifications_slack is defined and ceph_notifications_slack %}
- name: 'slack-notifications'
  slack_configs:
  - channel: '#{{ ceph_notifications_slack.channel }}'
{% endif %}
