# Source https://github.com/ceph/ceph/blob/v17.2.7/src/pybind/mgr/cephadm/templates/services/prometheus/prometheus.yml.j2
global:
  scrape_interval: 10s
  scrape_timeout: 10s
  evaluation_interval: 10s
rule_files:
  - /etc/prometheus/alerting/*
alerting:
  alertmanagers:
  - follow_redirects: true
    enable_http2: true
    scheme: http
    timeout: 10s
    api_version: v2
    static_configs:
      - targets: {{'[{{ alertmgr_targets | join(\', \') }}]'}}
scrape_configs:
  - job_name: ceph
    honor_labels: true
    static_configs:
      - targets: {{'[{{ mgr_scrape_list | join(\', \') }}]'}}
  - job_name: consul-exporters
    consul_sd_configs:
      - server: {{ keepalived_cidr_list | ansible.utils.ipaddr('address') | first }}:8500
        services:
        - node-exporter
    metrics_path: /metrics
    relabel_configs:
      - action: keep
        source_labels: [__meta_consul_service]
